///
// Color Theme: Dark
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1:     #ffbf00;
$text-color-1:     #dedede;

$main-color-2:     #ff3366;
$text-color-2:     #dedede;

$main-color-3:     #21252b;
$text-color-3:     #dedede;

$main-color-theme-light: rgba(#000, .8);
$main-color-theme-dark:  rgba(#fff, .8);

$text-background-color: rgba(#fff, .05);

$header-text-color: $text-color-3;
$header-background: $main-color-3;

$footer-text-color: $text-color-3;
$footer-background: $main-color-3;

// background colors
$background-color: #2e3744;
// text colors

$text-color-theme-light-d: #000;
$text-color-theme-light:   #222;
$text-color-theme-light-l: #888;

$text-color-theme-dark-d:  rgba(#fff, .8);
$text-color-theme-dark:    rgba(#fff, .7);
$text-color-theme-dark-l:  rgba(#fff, .5);

$text-color-d:     $text-color-theme-dark-d;
$text-color:       $text-color-theme-dark;
$text-color-l:     $text-color-theme-dark-l;

// border and shadow colors
$border-color:     mix(#fff, $background-color, 20%);
$border-color-l:   mix(#fff, $background-color, 10%);
$select-color:     rgba($main-color-1, .5);
$decorate-color:   rgba(#fff, .1);
$mask-color:       rgba(#000, .9);

// function colors
$green:           #98c379;
$blue:            #56b6c2;
$yellow:          #e5c07b;
$red:             #e06c75;
$text-color-function: rgba(#fff, .8);

// logo colors
$mail-color:       #0072c5;
$facebook-color:   #4267b2;
$twitter-color:    #1da1f2;
$weibo-color:      #e6162d;
$google-plus-color:#ea4335;
$telegram-color:   #32afed;
$medium-color:     #000;
$zhihu-color:      #0084ff;
$douban-color:     #42bd56;
$linkedin-color:   #1074af;
$github-color:     #000;
$npm-color:        #fff;

// highlight colors
@import "skins/highlight/tomorrow-night";
